body {
    font-family: 'Raleway', sans-serif;
    background: #E5E5E5;
    font-weight: 500;
    color: #464646;
}

html {
    scroll-behavior: smooth;
}

/* cabeçalho start */

.cabecalho {
    position: relative;
    width: 80%;
    height: 90px;
    margin: 0 auto 67px auto;
}

.cabecalho img {
    position: absolute;
    top: 32px;
    left: 0;
}

.cabecalho p {
    position: absolute;
    left: 32px;
    top: 35px;
    font-weight: bold;
    color: #464646;
}

.cabecalho nav ul {
    position: absolute;
    top: 35px;
    right: 0;
}

a {
    color: #464646;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cabecalho nav li {
    display: inline;
    margin: 0 0 0 32px;
}

.cabecalho nav li:last-child {
    font-weight: bold;
}

.apresentacao {
    display: flex;
    width: 80%;
    height: 368px;
    margin: 0 auto 32px auto;   
}

.apresentacao h1 {
    font-size: 52px;
    font-weight: bold;
    margin: 60px 17px 24px 0;
}

.apresentacao p {
    margin: 0 17px 24px 0;
}

.apresentacao li {
    display: inline;
    margin: 0 60px 60px 0;
    font-weight: 600;
}

.apresentacao li:after {
    content: url(./img/vector.png);
    margin: 0 0 0 5px;
}

.foto {
    height: 368px;
    width: 368px;
    border-radius: 50%;
}

/* cabeçalho end */

/* main start */

main h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

/* sobre mim start */

.sobremim {
    display: flex;
    background-color: #EAF2FD;
    height: 383px;
}

.sobremim div {
    width: 80%;
    margin: 64px auto 64px auto;
}

.sobremim h2 {
    text-align: left;
    margin: 0 0 16px 0;
    font-size: 32px;
    font-weight: 700;
}

.sobremim p {
    margin: 16px 0;
    width: 751px;
}

.sobremim img {
    margin: 0 0 16px 0;
}

/* sobre mim end */


/* skills start */

.skills {
    width: 80%;
    height: 244px;
    margin: 32px auto;
}

.skills ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.skills li {
    width: 16%;
    height: 174px;
    display: inline-block;
    background: #ffffff;
    margin: 37px 0 0 0;
}

.skills img {
    position: absolute;
    margin: 94px 120px 43px 16px;
}

.skills h3 {
    position: absolute;
    margin: 139px 16px 16px 16px;
    font-weight: bold;
}

/* skills end */

/* hobbies start */

.hobbies {
    width: 80%;
    height: 244px;
    margin: 88px auto;
}

.hobbies ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.hobbies li {
    width: 16%;
    height: 174px;
    display: inline-block;
    background: #ffffff;
    margin: 37px 0 0 0;
}

.hobbies img {
    position: absolute;
    margin: 94px 120px 43px 16px;
}

.hobbies h3 {
    position: absolute;
    margin: 139px 16px 16px 16px;
    font-weight: bold;
}

/* hobbies end */

/* formação start */

.formacao {
    display: flex;
    background: #EAF2FD;
    height: 581px;
}

.quadrado-formacao {
    width: 80%;
    margin: 82px auto;
}

.formacao h2 {
    margin: 0 0 32px 0;
}

.formacao ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.formacao li {
    width: 27%;
}

.imagem-formacao {
    background: #ffffff;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    width: 100%;
    height: 100%;
    padding: 78px 88px;
    display: flex;
    flex-direction: column;
}

.imagem-formacao1 {
    background: #ffffff;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    width: 100%;
    height: 100%;
    padding: 90px 88px;
    display: flex;
    flex-direction: column;
}

.imagem-formacao2 {
    background: #ffffff;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    width: 100%;
    height: 100%;
    padding: 86px 88px;
    display: flex;
    flex-direction: column;
}

.formacao h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 8px 0;
}

.formacao p {
    font-size: 16px;
}


/* formação end */

/* experiência profissional start */

.experiencia {
    width: 80%;
    margin: 32px auto;
}

.experiencia li {
    display: flex;
    align-items: center;
    margin: 32px auto 53.5px auto;
}

.experiencia li:nth-of-type(2n){
    justify-content: space-between;
}

.img-projeto img {
    width: 955px;
    height: 450px;
}

.experiencia img-projeto {
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.texto {
    margin-left: 26px;
}

.texto:nth-of-type(2n+1) {
    margin: 0 16px 0 0;
}

.experiencia h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.repositorio {
    margin: 0 16px 0 0;
    width: 116px;
    height: 51px;
    left: 16px;
    top: 16px;
    color: #2A7AE4;
    background: #F5F5F5;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
}

.demo {
    margin: 8px 0 0 0;
    border: none;
    width: 105px;
    height: 51px;
    left: 16px;
    top: 16px;
    color: #FFFFFF;
    background: #2A7AE4;
}

.repositorio:hover {
    background: #D4E4FA;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
}

.demo:hover {
    background: #5595E9;
}

/* experiência profissional end */

/* Contato start */

.contato {
    display: flex;
    background: #EAF2FD;
    width: 100%;
    height: 788px;
}

.contato-container {
    display: flex;
    width: 80%;
    margin: 129.5px auto 65.5px auto;
}

.telefone-contato img {
    width: 464px;
    height: 593px;
    margin: 32px auto;
}

.form-container {
    text-align: left;
    margin: 30px 0 0 16px;
}

.form-container h2 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 8px;
}

.form-container p {
    font-size: 16px;
}

.form-container p:nth-of-type(2) {
    margin-bottom: 32px;
}

.formulario input {
    display: block;
    width: 656px;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin-bottom: 32px;
}

#form-msg {
    height: 133px;
    width: 656px;
    display: block;
    margin-bottom: 32px;
    border-radius: 4px;
    border: none;
}

.btn-enviar {
    width: 165px;
    height: 51px;
    background-color: #2A7AE4;
    color: #FFFFFF;
    cursor: pointer;
}

/* Contato end */

/* footer start */



.footer {
    background-color: #FFFFFF;
    font-size: 16px;
    padding: 32px 0 32px 0;
    text-align: center;
}


/* footer end */

/* main end */